<button id="mobile-menu-button" data-turbo-permanent="true" class="mobile btn-mobile-menu" aria-label="Toggle navigation" aria-expanded="false">
  <i class="fa-solid fa-bars btn-mobile-menu__icon" aria-hidden="true"></i>
</button>

<header id="sidebar" data-turbo-permanent="true" class="panel-cover {% if site.disable_landing_page %}panel-cover--collapsed{% endif %}"
  style="background-image: url({{ site.baseurl }}/assets/images/cover.webp)">
  <div class="panel-main">

    <div class="panel-main__inner panel-inverted">
      <div class="panel-main__content">
        <a href="{{ site.baseurl }}/" aria-label="Home">
          <img src="{{ site.baseurl }}/assets/images/profile.webp" class="user-image" alt="Portrait of {{ site.author.name | default: site.title }}" width="200" height="200">
          <h1 class="panel-cover__title panel-title">{{ site.title }}</h1>
        </a>
        <hr class="panel-cover__divider">
        <p class="panel-cover__description">{{ site.description }}</p>

        <nav class="cover-navigation navigation--social">
          <ul class="navigation">

            {% for link in site.data.social_links %}
              {% assign match_url = nil %}
              {% for url in site.social.links %}
                {% if url contains link.url_prefix %}
                  {% assign match_url = url %}
                  {% assign username = url | replace: link.url_prefix, "" | remove: "/" %}
                  <li class="navigation__item">
                    <a href="{{ match_url }}" title="{{ link.title_prefix }}{{ username }}{{ link.title_suffix }}" target="_blank" rel="noopener noreferrer">
                      <i class="{{ link.icon_family | default: 'fa-solid' }} fa-{{ link.icon }}"></i>
                      <span class="label">{{ link.name }}</span>
                    </a>
                  </li>
                  {% break %}
                {% endif %}
              {% endfor %}
            {% endfor %}

          </ul>
        </nav>

        <hr class="panel-cover__divider panel-cover__divider--secondary">

        <div class="navigation-wrapper">

          <nav class="cover-navigation cover-navigation--primary">
            <ul class="navigation">
              <li class="navigation__item"><a href="{{ site.baseurl }}/about" class="blog-button">About</a></li>
              <li class="navigation__item"><a href="{{ site.baseurl }}/blog/" class="blog-button">Blog</a></li>
              <li class="navigation__item"><a href="{{ site.baseurl }}/links" class="blog-button">Links</a></li>
            </ul>
          </nav>

        </div>

      </div>

    </div>

    <div class="panel-cover--overlay"></div>
  </div>
</header>
