{{ define "main" }}
<h2>Blog</h2>

<div class="main-post-list">
{{   range .Paginator.Pages }}
{{     $resolved := partial "resolve-image.html" .Params.image -}}
{{     $imageUrl := $resolved.URL -}}
{{     $imageAlt := or $resolved.Alt .Title -}}
{{     $imageWidth := $resolved.Width -}}
{{     $imageHeight := $resolved.Height -}}

{{     $class := "link-card--blog" -}}
{{     $media := "" -}}
{{     if $imageUrl }}
{{       $class = "link-card--blog link-card--with-image" }}
{{       $media = printf "<a class=\"link-card__media\" href=\"%s\" aria-label=\"Read %s\">\n          <img src=\"%s\" alt=\"%s\" loading=\"lazy\" decoding=\"async\" %s %s>\n        </a>" .RelPermalink .Title $imageUrl $imageAlt (cond (not (not $imageWidth)) (printf "width=\"%s\"" (string $imageWidth)) "") (cond (not (not $imageHeight)) (printf "height=\"%s\"" (string $imageHeight)) "") }}
{{     end -}}

{{     $tagsHtml := "" }}
{{     with .Params.tags }}
{{       $tagsHtml = printf "<span class=\"post-meta__tags\">%s</span>" (partial "tag-list.html" .) }}
{{     end }}
{{     $meta_top := printf "<time datetime=\"%s\">%s</time>%s" (.Date.Format $.Site.Params.dateFormats.datetime) (.Date.Format $.Site.Params.dateFormats.display) $tagsHtml }}

{{     $description := .Description | default .Summary | plainify | htmlUnescape -}}

{{     partial "link-card.html" (dict "name" .Title "url" .RelPermalink "class" $class "media" $media "meta_top" $meta_top "description" $description) }}
{{   end }}

{{   if or .Paginator.HasPrev .Paginator.HasNext }}
{{     partial "pagination.html" . }}
{{   end }}
</div>
{{ end }}
