{{- $scss := resources.Get "scss/main.scss" | toCSS (dict "targetPath" "assets/stylesheets/main.css" "outputStyle" "compressed") | fingerprint -}}
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{ if .IsHome }}{{ .Site.Title }}{{ else }}{{ .Title }} | {{ .Site.Title }}{{ end }}</title>
{{- with .Description | default .Summary | default .Site.Params.description }}
  <meta name="description" content="{{ . }}">
{{- end -}}
{{- partial "opengraph.html" . }}
{{- partial "twitter_cards.html" . }}
{{- if .Params.robots }}
  <meta name="robots" content="{{ .Params.robots }}">
{{ end }}
  <meta name="theme-color" content="#ffffff">
  <link rel="canonical" href="{{ .Permalink }}">
  <link rel="alternate" type="application/rss+xml" title="Ryan Merolle - Blog RSS Feed" href="{{ "blog/index.xml" | absURL }}">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link rel="preconnect" href="https://cdn.jsdelivr.net">
  <link rel="icon" href="{{ relURL "favicons/favicon.ico" }}" sizes="32x32">
  <link rel="icon" href="{{ relURL "favicons/icon.svg" }}" type="image/svg+xml">
  <link rel="apple-touch-icon" href="{{ relURL "favicons/apple-touch-icon.png" }}">
  <link rel="manifest" href="{{ relURL "manifest.webmanifest" }}">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&family=Roboto+Slab:wght@300;400&display=swap">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
  <link rel="stylesheet" href="{{ $scss.RelPermalink }}">
  <script defer src="https://cdn.jsdelivr.net/npm/@hotwired/turbo@8.0.4/dist/turbo.es2017-umd.js"></script>
  <script defer src="{{ relURL "javascript/main.js" }}"></script>
{{- partial "gtm-head.html" . }}
</head>
