{{- /* Twitter Cards
  Called with: dict "Page" <page context> "socialImage" <resolved image>
*/}}
{{- $title := .title -}}
{{- $description := .description -}}
{{- $page := .Page -}}
    <meta name="twitter:card" content="{{ $page.Site.Params.twitter.card | default "summary_large_image" }}">
    <meta name="twitter:title" content="{{ $title }}">
{{- with $description }}
    <meta name="twitter:description" content="{{ . }}">
{{- end }}
{{- with $page.Site.Params.twitter.username }}
    <meta name="twitter:site" content="@{{ . }}">
{{- end }}
{{- with $page.Site.Params.author.twitter }}
    <meta name="twitter:creator" content="@{{ . }}">
{{- end }}
{{- $resolved := .socialImage }}
{{- with $resolved.URL }}
{{-   if $resolved.Resource }}
{{-     with $resolved.Resource.Fill "1200x630 png" }}
    <meta name="twitter:image" content="{{ .Permalink }}">
{{-     end }}
{{-   else }}
    <meta name="twitter:image" content="{{ . | absURL }}">
{{-   end }}
{{- end -}}
