{{- /*Twitter Cards */}}
    <meta name="twitter:card" content="{{ .Site.Params.twitter.card | default "summary_large_image" }}">
    <meta name="twitter:title" content="{{ if .IsHome }}{{ .Site.Title }}{{ else }}{{ .Title }} | {{ .Site.Title }}{{ end }}">
{{- with .Description | default .Summary | default .Site.Params.description }}
    <meta name="twitter:description" content="{{ . }}">
{{- end }}
{{- with .Site.Params.twitter.username }}
    <meta name="twitter:site" content="@{{ . }}">
{{- end }}
{{- with .Site.Params.author.twitter }}
    <meta name="twitter:creator" content="@{{ . }}">
{{- end }}
{{- $resolved := partial "resolve-image.html" (.Params.image | default .Site.Params.image) }}
{{- with $resolved.URL }}
{{-   if $resolved.Resource }}
{{-     $twitterImage := $resolved.Resource.Fill "1200x630 png" }}
    <meta name="twitter:image" content="{{ $twitterImage.Permalink }}">
{{-   else }}
    <meta name="twitter:image" content="{{ . | absURL }}">
{{-   end }}
{{- end -}}
